/* Home.css */
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.image-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.image-card img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.image-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments for Home.css */
@media (max-width: 1200px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .images {
    grid-template-columns: 1fr;
  }
}
