/* Who Component Specific Styling */

.who {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* Title Section */
.who h1 {
  font-size: 2.5rem;
  color: var(--accent-color);
  margin-bottom: 1rem;
  text-align: center;
}

/* Text Section */
.who p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 1rem;
}

/* Image Section */
.image {
  text-align: center;
}

.image img {
  width: 300px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.image img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Competencies Section */
.comp {
  width: 100%;
  max-width: 800px;
  background-color: white;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.comp ul {
  padding-left: 20px;
  list-style-type: disc;
  margin-top: 0.5rem;
}

.comp ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.4;
}

/* Responsive Design */
@media (max-width: 768px) {
  .image img {
    width: 200px;
  }

  .comp {
    padding: 1rem;
  }

  .who h1 {
    font-size: 1.5rem;
  }

  .who p,
  .comp ul li {
    font-size: 0.9rem;
  }
}
